<table class="table table-striped">
<thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Author</th>
        <th>Genres</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
</thead>
<tfoot>
    <tr *ngFor="let book of books;index as i">
      <td>{{i+1}}</td>
      <td>{{book.name}}</td>
      <td>{{book.author}}</td>
      <td>{{book.genre}}</td>
      <td>{{book.price}}</td>
      <td><i class="fa-solid fa-pen-to-square text-success" (click)="updateBook(book)"></i></td>
      <td><i class="fa-solid fa-trash text-danger" (click)="deleteBook(book)"></i></td>
    </tr>
</tfoot>
</table>
