<div>
    <h4>Add new book</h4>
    <form #bookForm="ngForm" (ngSubmit)="onSubmit(bookForm)">
      <div class="form-group">
        <label for="name">Name: </label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          [(ngModel)]="book.name"
          #name="ngModel"
          required
        />
        </div>
        <div class="form-group">
            <label for="author">Author: </label>
            <input
              type="text"
              class="form-control"
              id="author"
              name="author"
              [(ngModel)]="book.author"
              #author="ngModel"
              required
            />
        </div>
        <div class="form-group">
            <label for="genre">Genre: </label>
            <select class="form-control" id="genre" name="genre" #genre="ngModel" [(ngModel)]="book.genre">
                <option value="novel">Novel</option>
                <option value="nonFiction">Non fiction</option>
                <option value="biography">Biography</option>
            </select>
        </div>
        <div class="form-group">
            <label for="price">Price: </label>
            <input
              type="number"
              class="form-control"
              id="price"
              name="price"
              [(ngModel)]="book.price"
              #price="ngModel"
              required
            />
        </div>
        <button class="btn btn-success mt-3" type="submit" [disabled]="bookForm.invalid">Add Book</button>
    </form>
  </div>
  